@import "reset";
@import "animation";

/* Colours */
$blue: orange;

/* Typography */


/* Media Query Sizes */
$mq-large: 1000px;
$mq-medium: 700px;
$mq-small: 700px;


@mixin dropshadow() {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}


body {
    background-color: $blue;
    @include dropshadow();
    animation: bounce 0.2s ease linear;

    @include mq($mq-large) {
        background-color: yellow;
    }


}