

@font-face {
    font-family: Formular;
    src: url(assets/formular.woff2), url(assets/formular.woff);
}

@font-face {
    font-family: GT Haptic;
    src: url(assets/gt-haptik-regular-webfont.woff2), url(assets/gt-haptik-regular-webfont.woff);
}